.App {
  background-color: #282c34;
  padding: 25px;
  min-height: 1000px;
}
.App-header {
  text-align: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section-header {
  font-size: calc(8px + 2vmin);
  color: white;
}

.Text-entry-short {
  max-width: 300px;
  color: white;
}

.Skinny-boi {
  display: flex;
  max-width: 100px;
}

.login-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.login-center {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.nav-bar-round{
  border-radius: 50px;
}

.grey-hr{
  background-color: grey;
}

.short-hr{
  max-width: 15%;
  margin: 0px;
}

.body {
  color: white;
}
